# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../.ipynb_checkpoints/Business_ReviewData_2020-checkpoint.csv
/../.ipynb_checkpoints/Business_Transactions-checkpoint.ipynb
/misc.xml
/modules.xml
/../.ipynb_checkpoints/monthly_revenue-checkpoint.ipynb
/OCEANAIR.iml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/codestream.xml
/encodings.xml
/codeStyles/Project.xml
